.pack {
  @include btn(
    100px,
    4px,
    36px,
    9px 16px,
    1.6rem,
    1px solid transparent,
    $white
  );
}
//btn type
// .button{
//   @include btn(100px, 4px, 36px, 9px 16px, 1.6rem,  1px solid transparent, $white);
// }
.text {
  &:hover {
    text-decoration: underline;
  }
}
.primary {
  color: rgb(255, 255, 255);

  background-color: $primary;
  &:hover {
    background: $primary-hv;
  }
}
.outline {
  color: $primary;
  border-color: currentColor;
  &:hover {
    background-color: $outline-hv;
  }
}
//btn size
.btnSmall {
  min-width: 88px;
  padding: 4px 16px;
}
.btnLarge {
  min-width: 140px;
  padding: 14px 16px;
}
