@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: #333;
}

button, input, [tabindex] {
  outline: none;
  border: none;
}

a {
  color: #333;
  text-decoration: none;
}

.accountItems {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  cursor: pointer;
}
.accountItems:hover {
  background: rgba(22, 24, 35, 0.03);
}
.accountItems__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.accountItems__info {
  flex: 1;
  margin-left: 12px;
}
.accountItems__info-name {
  font-size: 1.6rem;
  font-weight: 500;
}
.accountItems__info-name .fa-circle-check {
  margin-left: 6px;
  color: rgb(32, 213, 236);
}
.accountItems__info-username {
  font-size: 1.4rem;
  color: rgba(22, 24, 35, 0.5);
}

.header {
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
}
.header__inner {
  height: 100%;
  width: 1150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__inner-search, .header__inner-searchResult {
  width: 361px;
}
.header__inner-search {
  position: relative;
  height: 46px;
  display: flex;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  padding-left: 16px;
  border: 1.5px solid transparent;
}
.header__inner-search input {
  flex: 1;
  height: 100%;
  color: #000;
  font-size: 1.6rem;
  background-color: transparent;
}
.header__inner-search input:not(:-moz-placeholder-shown) ~ .search-btn {
  color: rgba(22, 24, 35, 0.75);
}
.header__inner-search input:not(:placeholder-shown) ~ .search-btn {
  color: rgba(22, 24, 35, 0.75);
}
.header__inner-search::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 52px;
  width: 1px;
  height: 28px;
  background-color: rgba(22, 24, 35, 0.12);
}
.header__inner-search:focus-within {
  border-color: rgba(22, 24, 35, 0.12);
}
.header__inner-search .clear,
.header__inner-search .loading {
  position: absolute;
  right: 68px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}
.header__inner-search .search-btn {
  width: 52px;
  height: 100%;
  border-bottom-right-radius: 92px;
  border-top-right-radius: 92px;
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);
}
.header__inner-search .search-btn:hover {
  cursor: pointer;
  background-color: rgba(22, 24, 35, 0.03);
}
.header__inner-search .search-btn:active {
  background-color: rgba(22, 24, 35, 0.06);
}
.header__inner-searchResult .search-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: rgba(22, 24, 35, 0.75);
  padding: 5px 12px 3px;
}
.header__inner-actions {
  display: flex;
  gap: 8px;
}

.sidebar {
  width: 356px;
}

.pop__wrapper {
  width: 100%;
  max-height: min(-156px + 100vh, 760px);
  min-height: 100px;
  padding-top: 8px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
}

.pack {
  min-width: 100px;
  border-radius: 4px;
  min-height: 36px;
  padding: 9px 16px;
  font-size: 1.6rem;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #ffffff;
}

.text:hover {
  text-decoration: underline;
}

.primary {
  color: rgb(255, 255, 255);
  background-color: #fe2c55;
}
.primary:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
}

.outline {
  color: #fe2c55;
  border-color: currentColor;
}
.outline:hover {
  background-color: rgba(254, 44, 85, 0.08);
}

.btnSmall {
  min-width: 88px;
  padding: 4px 16px;
}

.btnLarge {
  min-width: 140px;
  padding: 14px 16px;
}

.cardExample-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cardExample-container .cardExample-items {
  width: calc(50% - 20px); /* 25% width và margin giữa các item */
  margin-bottom: 20px; /* Khoảng cách dưới */
}

.defWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.defWrapper__container {
  width: 1150px;
  display: flex;
}
.defWrapper__container-content {
  flex: 1;
}/*# sourceMappingURL=index.css.map */