.pack{
    min-width: 100px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    min-height: 36px;
    padding: 9px 16px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}