
.defWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__container{
        width: $layout-header-width;
        display: flex;
      &-content{
        flex: 1;
      }
    }
}