// ------- font-size -------
$fs-0: 10px;
$fs-1: 12px;
$fs-2: 13px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px;
$fs-6: 22px;
$fs-7: 24px;

// ------- font-weight -------
$fw-xlight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
//------text-color------
$text-disable: #919EAB;
$text-dark-c0: #000000;
$text-dark-c1: #212B36;
$text-dark-c2: #637381;
$text-light-c0: #ffffff;
$text-primary-c0: #0000ff;
$text-primary-c1: #5757d1;
$text-primary-c2: rgb(25, 119, 242);