//--------color--------
$black: #000;
$blue-check:rgb(32, 213, 236);
$primary: #fe2c55;
$white: #ffffff;

//--------hover-color--------
$primary-hv: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
  rgb(254, 44, 85);
$outline-hv: rgba(254, 44, 85, 0.08);
$border-focus: rgba(22, 24, 35, 0.03);

//--------text color--------
$text-grey: #333;

//--------default layout--------
$layout-header-height: 60px;
$layout-header-width: 1150px;
//--------default layout search--------
$search-border-radius: 92px;
$search-height: 46px;
$search-top-spacer: 9px;
$search-button-width: 52px;

//--------fontsize--------
$fz-1: 1.6rem;

//--------spacing--------



//btn
